html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.logo {
  background-color: black;
}

header .banner {
  display: grid;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  /*display: contents;*/
  /*display: grid;*/
}


main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
