html {
  box-sizing: border-box;
  font-family: "Patua One", sans-serif;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* How many columns does this page need? */
  grid-template-areas:
   "header header"
   ". ."; /* We want to define our grid areas. Keep in mind there are two rows and the top row spans the entire page while the second row is divided evenly with two figure elements. */
  gap: 1rem;

}

h2 {
  color: #30658d;
}

p {
  font-family: "Georgia";
}

.banner {

}

ul > li {
  display: inline-block;
}

ul > li > a {
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  /*display: contents;*/
  /*display: grid;*/
  /*
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr)/*1fr 1fr 1fr;*/
  display: contents;
  /*grid-area: header;*/

}

header > img {
  /*grid-column: 1 / -1;
  grid-row: 1 / -1;*/
  grid-area: header;
}



nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

main {
  display: contents;
  grid-template-columns: 1fr 1fr;
  /*column-gap: 1%;*/
}

figure {
  margin: 0;
  /*padding-top: 2%;*/
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  align-self: end;
  width: 14rem;
  height: auto;
  /*background-color: black;*/
  /*grid-area: header;*/

}

.pano {


}
