html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
  line-height: 1.5;
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "header header"
   ". .";
  grid-gap: 1rem;

}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

p {
  font-family: Georgia, serif;
}

.banner {

}

ul > li {
  display: inline-block;
}

ul > li > a {
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
}

header {
  display: contents;
}

header > img {
  grid-area: header;
}



nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

main {
  display: contents;
  grid-template-columns: 1fr 1fr;
}

figure {
  margin: 0;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  align-self: end;
  width: 14rem;
  height: auto;
}
